---
- name: Install jq
  become: true
  ansible.builtin.package:
    name: jq
    state: present

- name: Get service facts
  ansible.builtin.service_facts:

- name: Create download directory
  become: true
  ansible.builtin.file:
    path: "/usr/local/lib/ipfs-cluster-{{ ipfs_cluster_version }}"
    state: directory
    mode: "755"

- name: Download ipfs-cluster
  become: true
  ansible.builtin.unarchive:
    src: "{{ ((not ipfs_cluster_force_https_download) and (ansible_facts.services[\"ipfs.service\"] is defined and ansible_facts.services[\"ipfs.service\"].state == \"running\")) | ternary(ipfs_cluster_local_release_url[item], ipfs_cluster_public_release_url[item]) }}"
    dest: "/usr/local/lib/ipfs-cluster-{{ ipfs_cluster_version }}/"
    creates: "/usr/local/lib/ipfs-cluster-{{ ipfs_cluster_version }}/ipfs-cluster-{{ item }}"
    remote_src: true
    owner: root
    group: root
  loop:
    - ctl
    - service

- name: Link ipfs-cluster binary
  become: true
  ansible.builtin.file:
    src: "/usr/local/lib/ipfs-cluster-{{ ipfs_cluster_version }}/ipfs-cluster-{{ item }}/ipfs-cluster-{{ item }}"
    dest: "/usr/local/bin/ipfs-cluster-{{ item }}"
    state: link
  loop:
    - ctl
    - service
  notify: Restart ipfs-cluster

- name: Check if ipfs-cluster is initialized
  become: true
  ansible.builtin.stat:
    path: "{{ ipfs_home_dir }}/.ipfs-cluster/service.json"
    get_attributes: false
    get_checksum: false
    get_mime: false
  register: ipfs_cluster_service_json

- name: Check if consensus is crdt
  when: ipfs_cluster_service_json.stat.exists
  become: true
  jq:
    path: "{{ ipfs_home_dir }}/.ipfs-cluster/service.json"
    filter: '.consensus | has("crdt")'
  register: ipfs_cluster_is_crdt

- name: Stop ipfs-cluster
  when: ipfs_cluster_service_json.stat.exists and not ipfs_cluster_is_crdt.value
  become: true
  ansible.builtin.systemd:
    name: ipfs-cluster
    enabled: false
    state: stopped

- name: Purge datadir
  when: ipfs_cluster_service_json.stat.exists and not ipfs_cluster_is_crdt.value
  become: true
  ansible.builtin.file:
    path: "{{ ipfs_home_dir }}/.ipfs-cluster"
    state: absent

- name: Ipfs-cluster init
  become: true
  become_user: ipfs
  ansible.builtin.command:
    cmd: "/usr/local/bin/ipfs-cluster-service init --consensus crdt"
    creates: "{{ ipfs_home_dir }}/.ipfs-cluster/identity.json"

- name: Get id
  become: true
  become_user: ipfs
  jq:
    path: "{{ ipfs_home_dir }}/.ipfs-cluster/identity.json"
    filter: ".id"
  register: ipfs_cluster_id

- name: Workaround issue 6189
  # https://github.com/ansible/ansible/issues/6189
  ansible.builtin.set_fact:
    ipfs_cluster_peer_ip: "{{ ipfs_cluster_peer_ip }}"

- name: Configure ipfs-cluster
  become: true
  jq:
    path: "{{ ipfs_home_dir }}/.ipfs-cluster/service.json"
    filter: "{{ item.key }} = {{ item.value | to_json }}"
    modify: true
  vars:
    config:
      .cluster.peername: "{{ ansible_facts.hostname }}"
      .cluster.secret: "{{ ipfs_cluster_secret }}"
      .cluster.peer_addresses: "{{ ipfs_cluster_peer_addresses_json | from_json }}"
  loop: "{{ config | dict2items }}"
  notify: Restart ipfs-cluster

- name: Install ipfs-cluster.service
  become: true
  ansible.builtin.copy:
    src: ipfs-cluster.service
    dest: /etc/systemd/system/ipfs-cluster.service
    owner: root
    group: root
    mode: "644"
  notify: Restart ipfs-cluster

- name: Start ipfs-cluster
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: ipfs-cluster
    enabled: true
    state: started
  register: ipfs_cluster_start
