---
- name: Restart ipfs-cluster
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: ipfs-cluster
    enabled: true
    state: restarted
  when: (ipfs_cluster_start | default({})) is not changed
